<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your result is here...</title>
    <link rel="stylesheet" href="/stylesheets/result.css">
    <link rel="stylesheet" href="/stylesheets/utility.css">
</head>

<body>
    <div id="main">
        <div id="search">
            <form action="/" method="post">
                <input type="text" placeholder="Enter Your City Here" name="city" autocomplete="off">
            </form>
        </div>
        <div id="fewDets">
            <div id="cityName">
                
                <h1><%=place%></h1>
                <h5><%=description%></h5>
                <div id="circle">
                    <img src=<%=imageurl%>>
                  </div>
            </div>
            <div id="temperature">
                <div id="center">
                    <h1><%=temp%></h1>
                    <h5><%=unit%></h5>
                </div>
            </div>
        </div>
        <nav>
            <h2>Scroll for Details</h2><img src="/images/down.png" alt="">
        </nav>
        <div id="statistcs">
            <div id="statsBox">
                <div class="stats">
                    <div class="fieldName">Min. Temperature</div>
                    <div class="fieldData"><%=temp_min%></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Max. Temperature</div>
                    <div class="fieldData"><%=temp_max%></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Humidity</div>
                    <div class="fieldData"><%=humidity%></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Pressure</div>
                    <div class="fieldData"><%=pressure%></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Visibility</div>
                    <div class="fieldData"><%=visibility%></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Latitude</div>
                    <div class="fieldData"><%=latitude%></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Longitude</div>
                    <div class="fieldData"><%=longitude%></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Sunrise</div>
                    <div class="fieldData"><%=sunrise%>></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Sunset</div>
                    <div class="fieldData"><%=sunset%>></div>
                </div>
                <div class="stats">
                    <div class="fieldName">Wind Speed</div>
                    <div class="fieldData"><%=wind_speed%></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="trees">
                <img src="/images/springTree.svg" alt="" class="treeImg">
                <img src="/images/grassBk.png" alt="" id="grass">
            </div>
            <div class="trees">
                <img src="/images/summerTree.svg" alt="" class="treeImg">
                <img src="/images/grassBk.png" alt="" id="grass">
            </div>
            <div class="trees">
                <img src="/images/fallTree.svg" alt="" class="treeImg">
                <img src="/images/grassBk.png" alt="" id="grass">
            </div>
            <div class="trees">
                <img src="/images/winterTree.svg" alt="image not found" class="treeImg">
                <img src="/images/grassBk.png" alt="" id="grass">
            </div>
        </div>
    </div>
</body>

</html>